

<!--<h1 *ngIf="isConnected" >welcome user</h1>

<h1 *ngIf="! isConnected" >please sign in</h1>

<p>application title is :   {{1+1}}   </p>
<ul>
  <li *ngFor=" let mois of arr ">{{mois}}</li>
</ul> -->

<!--<img  [src]="bgImage"   width="100%" />-->

<!--<h3 [style.color]=" isConnected ? 'red' : 'green'  ">my super app</h3>

<p [innerHtml]="myPara" ></p> -->
<!--<button  (click)="btnClick()" >{{txtButton}}  <span *ngIf="count != 0" >{{count}} times</span> </button>-->

<p> {{ today | date:'medium' }} </p>

<p> {{ myTxt | hero:'hello':'hello2' }} </p>

<h6>my salary = {{salary|currency:'TND '}}</h6>