
<div class="fluid-container">
    <app-navbar></app-navbar>
  
    <div class="row" style="margin-top: 80px;">
      <div class="col-sm-12 my-5 text-center">
            <h1>ABOUT PAGE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, inventore perferendis officiis repudiandae obcaecati possimus voluptatibus corrupti nostrum quis quos ex ipsa enim, animi in porro minus, ad quod ducimus.</p>
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-footer></app-footer>
      </div>
    </div>
  
  </div>